<app-header (darkModeChanged)="onDarkModeChanged($event)" (isTaskCreated)="taskCreated($event)"></app-header>
<div class="h-100 d-flex">
	<div class="sideBar1 w-25 d-none d-sm-none d-md-none d-lg-block border border-3 rounded-1 mx-1">
		<app-side-bar1></app-side-bar1>
	</div>
	<div class="mainSpace w-100 d-md-12">
		<!-- <app-tasks-list></app-tasks-list> -->
		<router-outlet></router-outlet>
	</div>
	<!-- <div class="sideBar2 w-25 d-none d-sm-none d-md-none d-lg-block border border-3 rounded-1 mx-1">
		<app-side-bar2></app-side-bar2>
	</div> -->
</div>